*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  letter-spacing: 2px;
}
body
{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar
{
 width: 100%;
  position:fixed;
  padding: 20px;
  z-index: 10;
  transition: .5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.774);
}
nav
{
  margin-left: 200px;
  transition: .5s linear;
}
.nav-logo
{
  position: absolute;
  top:20px;
  left: 30px;
  color: white;
  font-size: 35px;
  font-weight: bold;
}
.menu-icon
{
  color:white;
  font-size: 25px;
  position: absolute;
  top:20px;
  right:20px;
  display: none;
 
}
.dropdown-content {
  display: none;
  background-color:rgba(0, 0, 0, 0.308);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover
{
  background-color:rgba(255, 0, 0, 0.384);
}
.nav-item:nth-child(3):hover .dropdown-content
{
  display: block;
}
.nav-item:nth-child(3):hover .arrow
{
  transform: rotate(180deg);
}

.signIn
{
  float: right;
}

.nav-item
{
  float:left;
  list-style-type: none;
}

.nav-link
{
  text-decoration: none;
  display: block;
  color:white;
  font-size: 13px;
  padding: 10px 30px;
  transition: .3s ease-in-out;
}
.nav-link:hover
{
  background-color: rgba(235, 32, 17, 0.856);
}
#myVideo
{
  position:absolute;
  top:-250px;
  min-width: 100%; 
  min-height: 100%;
  bottom: 0;
  right: 0;
}
#home
{
  position: relative;
  background-color: black;
  width:100%;
  height: 100vh;
}
.home-content h1
{
color:white;
font-size: 8vw;
}
.home-content,.sec4-content,.sec7-content,.sec2-content,.sec8-content
{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}
.home-c-btn
{
  margin-top: 100px;
}
.home-c-btn a:hover
{
  background-color: rgba(224, 21, 21, 0.979);
  border: 3px solid rgba(224, 21, 21, 0.637);
  padding: 15px 110px;
}
.home-c-btn a
{
  border: 3px solid white;
  padding: 15px 90px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
  transition: .3s linear;
}

#section2
{
  position: relative;
  background:linear-gradient(to right bottom,rgba(247, 8, 40, 0.233),rgba(17, 12, 12, 0.308)),url("https://i.ibb.co/0FdNg8z/audi.jpg") no-repeat;
  background-size: cover;
  max-width:100%;
  height: 100vh;
}

.sec2-title
{
  font-size: 10vw;
  color: white;
  width:100%;
}
.sec2-content h1
{
  letter-spacing: 3vw;
}
#section3
{
  position: relative;
  margin: 100px;
}
.sec3-content
{
  background:linear-gradient( to right bottom,rgba(0, 0, 0, 0.308),rgba(117, 76, 76, 0.452)),url("D:\My Project\project3\src\component\Images\redcar.jpg") no-repeat;
  background-size: cover;
  width:100%;
  height: 600px;
  position: relative;
}
.sec3-bg-img
{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
  
}
.sec3-title,.sec7-title,.sec8-content
{
  font-size: 5vw;
}
.sec3-title h1:nth-child(2)
{
  color: transparent;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: red;
    transition: .5s ease-in-out;
}
#section3:hover .sec3-content h1:nth-child(2)
{
  color: red;
}
.sec3-title h1,.sec7-title h1,.sec8-content h1
{
  letter-spacing: 3vw;
}

#section4
{
  background-color: black;
  width:100%;
  height: 600px;
  position: relative;
  overflow: hidden;
 
}
.sec4-title
{
  font-size: 4vw;
}
.sec4-title h1
{
  letter-spacing: 2vw;
}
#sonycar
{
  position:absolute;
  min-width: 100%; 
  min-height: 100%;
}

#section5
{
  background-color:gainsboro;
  padding: 100px;
  
}
.sec5-content
{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}
.sec5-c
{
  background-color:white;
  width:350px;
  height: 400px;
  position: relative;
  margin: 10px;
}
.bluecar
{
  position: absolute;
  bottom:50px;
  width:350px;
  height: 250px;
  z-index: 1;

}
.sec5-btn a
{
  position: absolute;
  bottom:5px;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: black;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
}
.sec5-title
{
  position: absolute;
  top:10px;
  left: 20px;
  text-align: center;
  color:black;
  font-family: 'Nunito', sans-serif;
}
#section6
{
 padding: 50px 50px 120px 50px;
 
}
.sec6-content
{
  display: flex;
  background-color: black;
  width:100%;
  height: auto;
}
.sec6-title
{
  text-align: center;
  padding:100px 0px;
  font-size: 3vw;
  letter-spacing: 2vw;
  font-weight: lighter;
  width:100%;
}
.sec6-c-v,.sec6-c-v2
{
 width:70%;
  height: 30vw;
 position: relative;
overflow: hidden;
background-color:black;
}
.cursor
{
  position: absolute;
  pointer-events: none;
  z-index: 1;
  font-weight: lighter;
  font-size: 40px;
  display: none;
  color: white;

}
.sec6-c-v2:hover ~ .cursor
{
  display: block;
}
.sec6-c-v:hover ~ .cursor
{
  display: block;
}

#sec6-bg-v2
{
  width: 100%;
  height: auto;
  position:absolute;
  top:0px;
  left: 0px;
  
}
#sec6-bg-v
{
 width: 100%;
 height: auto;
 position:absolute;
 top:0px;
 left: 0px;
}
.sec6-c-v2
{
  width:30%
}
.play-btn
{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 100px;
  color: white;
  display: none;
  
}
#section7
{
  background:url("https://images.wallpaperscraft.com/image/car_red_sports_car_142598_1920x1080.jpg") no-repeat;
  background-size: cover;
  background-attachment:fixed;
  width:100%;
  height: 500px;
  position: relative;
}
#section8
{
  background-color:rgb(17, 17, 68);
  width:100%;
  height: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: white;
}
.span
{
  letter-spacing: 3vw;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(17, 17, 68);
}
#sec8-v
{
  width:100%;
  height: 40vw;
}

footer
{
  background-color: ghostwhite;
  width:100%;
  height: auto;
  padding: 50px;
}
.f-c:nth-child(1)
{
  width: 300px;
  text-align: center;
}
.footer-c
{
  display: flex;
  justify-content: space-evenly;
  
}
.f-c a,p
{
  color:grey;
  text-decoration: none;
  font-size: 12px;
}
.f-c
{
  color:black;
  line-height: 40px;
}
.f-c:nth-child(5) a
{
  font-size: 35px;
}




@media screen and (max-width:800px)
{
  .navbar
  {
    padding-top:50px;
  }
  nav
  {
    padding-top:50px;
    text-align: center;
    margin: 0px;
  }
  .nav-item,.signIn
  {
    float: none;
    padding: 10px 30px;
  }
  .menu-icon
  {
    display: block;
  }
  .sec3-bg-img
  {
    width:100%;
    height: 300px;
  }
  
}
@media screen and (max-width:950px)
{
  #section3
  {
    margin: 30px;
  }
  .sec3-content
  {
    flex-direction: column;
  }
  .f-c{
    margin: 10px;
  }
  .footer-c
  {
    flex-direction: column;
    text-align: center;
  }
  .f-c:nth-child(1)
  {
    width:100%;
  }
  
 

}
@media (min-aspect-ratio: 16/9)
{

}

@media screen and (max-width:650px)
{
  .sec3-bg-img
  {
    width:100%;
    height: 200px;
  }
  .home-c-btn a:hover
  {
    padding: 12px 35px;
  }
  .home-c-btn a
  {
    padding: 10px 30px;
  }
  #section5
  {
    padding: 10px;
  }
  .sec5-c
  {
    height: 300px;
  }
  .bluecar
  {
    width:250px;
    height: 200px;
  } 
  #section6
{
 padding: 20px 20px 50px 20px;
}
  .sec6-title
  {
    padding:20px 0px;
  } 
  
}